.home-welcome, .footer {
    height: 50vh;
}

.why-choose-me {
    position: absolute;
    left: 0px;
    height: 2573px;
    width: 100%;
    background-color: #111111;
}

.wcm-header {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    color: white;
    font-size: 5em;
}

.wcm-description {
    text-align: center;
    color: white;
}

.wcm-description p span {
    color: #5196CD;
}