/* SZ3YAN by Sze Yan (updated as of )

   Structure of 2.szeyan_about.css
   |
   ├─ 1. aboutMe
   ├─ 2. moreaboutMe
   ├─ 3. newsletter
     
    /* --------------------------------------------------------------------------
        1. aboutMe
    -------------------------------------------------------------------------- */

    .aboutMe__header {
        width: 100%;
        padding-bottom: 70px;
    }
    
    .aboutMe__intro {
        text-align: center;
        color: black;
        letter-spacing: -.005em;
        padding-top: 4.5em;
        max-width: 800px;
        margin: auto;
    }

    .aboutMe__intro h2 {
        font-size: 45px;
        font-weight: 100;
    }

    .aboutMe__intro h6 {
        margin-bottom: 10px;
        font-size: 16px;
        color: var(--dark-grey);
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: .05em;
    }
    
    .aboutMe__description {
        margin: auto;
        color: var(--grey);
        padding-top: 10px;
        max-width: 710px;
    }

    /* --------------------------------------------------------------------------
        2. moreaboutmE
    -------------------------------------------------------------------------- */
    
    .moreaboutMe .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .moreaboutMe__gallery {
        padding: 10px;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
        grid-auto-flow: dense; 
      }
      
      /* Stretch vertically */
      .v-stretch {
        grid-row: span 2;
      }
      
      /* Stretch horizontally */
      .h-stretch {
        grid-column: span 2;
      }
      
      /* Stretch vertically and horizontally */
      .big-stretch {
        grid-column: span 2;
        grid-row: span 2;
      }

      .moreaboutMe__card {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          position: relative;
      }

      .moreaboutMe__intro {
          display: none;
      }
      
      .content1 {
        background-image: url("../1. SZ3YAN_design/ahh/Rectangle 38.png");
        border-radius: 16px;
      }

      .content2 {
        background-image: url("../1. SZ3YAN_design/ahh/Rectangle 39.png");
        background-size: cover;
        border-radius: 16px;
      }

      .content3 {
        background-image: url("../1. SZ3YAN_design/ahh/Rectangle 40.png");
        background-size: cover;
        border-radius: 16px;
      }

      .content4 {
        background-image: url("../1. SZ3YAN_design/ahh/Rectangle 41.png");
        border-radius: 16px;
      }

      .content5 {
        background-image: url("../1. SZ3YAN_design/ahh/Rectangle 42.png");
        border-radius: 16px;
      }

      .content6 {
        background-image: url("../1. SZ3YAN_design/ahh/Rectangle 43.png");
        border-radius: 16px;
      }

      .content7 {
        background-image: url("../1. SZ3YAN_design/ahh/Rectangle 44.png");
        border-radius: 16px;
      }

      .moreaboutMe__card button {
        height: 33px;
        width: 33px;
        background-color: var(--grey);
        border-radius: 50%;
        position: absolute;
        display: none;
        bottom: 24px;
        right: 24px;
      }

      .moreaboutMe__card:hover button, .moreaboutMe__card:hover .moreaboutMe__intro {
        display: block;
      }

      .moreaboutMe__card button:hover {
        cursor: pointer;
      }

      .moreaboutMe__turn1, .moreaboutMe__turn2, .moreaboutMe__turn3, .moreaboutMe__turn4, .moreaboutMe__turn5, .moreaboutMe__turn6, .moreaboutMe__turn7 {
        height: 50%;
      }

      .turning {
        animation: buttonanimate 1s;
        animation-fill-mode: forwards;
      }

      .blue {
        background-image: url("../1. SZ3YAN_design/blue.png");
      }

      @keyframes buttonanimate {
        from {
          transform: rotate(0deg)
        }

        to {
          transform: rotate(45deg)
        }
      }
      
      @media screen and (max-width: 515px) {
        .v-stretch {
          grid-row: span 1;
        }
      
        .h-stretch {
          grid-column: span 1;
        }
      
        .big-stretch {
          grid-column: span 1;
          grid-row: span 1;
        }
      }

    /* --------------------------------------------------------------------------
        3. newsletter
    -------------------------------------------------------------------------- */

    .newsletter__header {
        height: 90vh;
    }

    .newsletter__header .container {
        padding-top: 14%;
    }

    .newsletter__intro {
        text-align: center;
        color: black;
        font-weight: 100;
        letter-spacing: -.005em;
        padding-top: 2.5em;
        max-width: 650px;
        margin: auto;
    }

    .newsletter__intro h6 {
        margin-bottom: 10px;
        font-size: 16px;
        color: var(--dark-grey);
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: .05em;
    }

    .newsletter__intro h2 {
        font-size: 45px;
        font-weight: 100;
    }
    
    .newsletter__description {
        text-align: center;
        color: var(--grey);
        padding-top: 10px;
        padding-bottom: 20px;
        font-weight: 100;
    }

     .newsletter__header form {
        margin-bottom: 16px;
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .newsletter__question {
         position: relative;
         width: 100%;
         color: white;
     }

     .newsletter__question select {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 18px;
        font-size: 14px;
        color: inherit;
        background: var(--grey);
        border: none;
        border-radius: 20px;
        padding: 0 18px 0 18px;
        outline: none;
        -webkit-appearance: none;
        margin-bottom: 16px;
    }

    .newsletter__header button {
        color: white;
        background-color: var(--blue);
        height: 30px;
        border-radius: 15px;
        padding: 0 18px;
    }

    .newsletter__question input {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 18px;
        font-size: 14px;
        color: white;
        background: var(--dark-grey);
        border: none;
        border-radius: 15px;
        padding: 0 42px 0 18px;
        outline: none;
        margin-bottom: 16px;
    }

    .newsletter__question input {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 18px;
        font-size: 14px;
        color: inherit;
        background: var(--dark-grey);
        border: none;
        border-radius: 15px;
        padding: 0 42px 0 18px;
        outline: none;
        margin-bottom: 16px;
    }

    .newsletter__question textarea {
        margin-bottom: 16px;
    }

    .newsletter__question input::placeholder, #hishow textarea::placeholder {
        color: white;
    }

    #hishow h4, #colabshow h4 {
        text-align: center;
        margin-bottom: 20px;
    }

    #colabshow, #hishow {
        width: 100%;
    }

    #hishow textarea, #colabshow textarea {
        resize: none;
        background-color: var(--dark-grey);
        color: white;
        font-size: 14px;
        border: none;
        width: 100%;
        padding: 14px 18px;
        border-radius: 15px;
    }

    @media (max-width: 890px) {
        .newsletter__intro h2{
            font-size: 36px;
        }

        .newsletter__description {
            font-size: 16px;
        }
    }
/*