/* SZ3YAN by Sze Yan (updated as of 22 July 2021)

   Structure of 1.szeyan_sz3ai.css
   |
   ├─ 1. sz3ai
   ├─ 2. features
   ├─ 3. slide
   ├─ 4. price

    /* --------------------------------------------------------------------------
        1. sz3ai (heading)
    -------------------------------------------------------------------------- */

    .sz3ai__header {
        width: 100%;
        z-index: -3;
        padding-bottom: 170px;
    }
    
    .sz3ai__intro {
        text-align: center;
        color: white;
        letter-spacing: -.005em;
        padding-top: 5em;
        max-width: 800px;
        margin: auto;
    }

    .sz3ai__intro h2:nth-child(3) {
        margin-bottom: 30px;
        color: white;
    }

    .sz3ai__intro h6 {
        margin-bottom: 10px;
        font-size: 16px;
        color: var(--blue);
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: .05em;
    }

    .sz3ai__intro h2 {
        font-size: 45px;
        font-weight: 100;
        color: var(--grey);
    }

    .sz3ai__buy {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 13px;
        font-weight: 6;
        text-transform: uppercase;
        height: 30px;
        background-color: var(--bblack);
        color: white;
        border-radius: 15px;
        padding: 0 18px;
    }

    .sz3ai__buy:hover {
        opacity: 0.5;
    }

    .arrow {
        display: inline-block;
        position: relative;
        width: 0.8em;
    }

    .sz3ai__iphones {
        width: 100%;
    }

    .iphones__wrapper {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .sz3ai__col {
        width: 312px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 0 32px;
    }

    .phone {
        margin: 32px 0;
        position: relative;
    }

    .sz3ai__iphones .sz3ai__col:nth-of-type(3n+1) .landscape {
        left: 100%; 
        transform: translate(-100%);
    }

    @media (max-width: 890px) {
        .sz3ai__col {
            margin: 0 16px;
        }

        .iphone video, .iphone img {
            width: 264px;
        }

        .sz3ai__iphones .sz3ai__col:nth-of-type(3n+1) .landscape {
            left: 0%;
            transform: none;
        }
    }

    /* --------------------------------------------------------------------------
        2. features
    -------------------------------------------------------------------------- */
    
    .sz3ai__features {
        max-width: 656px;
        margin: auto;
        padding-top: 260px;
    }

    .sz3ai__feature1, .sz3ai__feature2 {
        padding-bottom: 340px;
    }

    .sz3ai__ui1, .sz3ai__ui2 {
        display: flex;
        justify-content: space-evenly;
    }

    .sz3ai__ui1 video {
        margin-right: 16px;
    }

    .sz3ai__ui1 img {
        padding-top: 100px;
        margin-left: 16px;
    }

    .copy {
        text-align: left;
        margin-top: -50px;
        margin-right: calc(50% + 32px);
    }

    .copy h2 {
        color: white;
    }

    @media (max-width: 890px) {
        .sz3ai__features {
            max-width: 544px;
        }

        .sz3ai__ui1 img, .sz3ai__ui1 video {
            max-width: 264px;
        }

        .copy {
            text-align: center;
            margin-top: 32px;
            margin-right: 0;
        }
    }
    
    /* --------------------------------------------------------------------------
        3. slide
    -------------------------------------------------------------------------- */

    .sz3ai__slide {
        height: 100vh;
    }

    section {
        margin: 0 30px;
      }
      
    .con {
        max-width: 1000px; 
        position: relative;
        padding: 5px;
        background: #fff;
        margin: 15px auto;
        box-shadow: 0 15px 35px -15px #656565;
        border-radius: 1rem;
    }
      
    .slider { 
        margin: 0 auto; 
        width: 100%; 
        height: 100%;
        border-radius: 0.7rem;
        display: flex; 
        overflow: hidden; 
        scroll-behavior: smooth;
    } 
      
    .slider img { 
        min-width: 100%; 
        max-width: 100%; 
        height: auto; 
        object-fit: contain;
        border-radius: 0.7rem;
    }
        
    #previous, #next { 
        cursor: pointer; 
        position: absolute; 
        width: 50px; 
        height: 50px; 
        border-radius: 16px; 
        background: #2770ff;
        color: #fff;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        top: calc(50% - 25px); 
        left: -20px;
        box-shadow: 0 12px 25px -9px #0041ac;
    } 
      
    #next { 
        left: unset; 
        right: -20px; 
    }

    @media (max-width: 480px){
        #previous, #next { 
          width: 40px; 
          height: 40px; 
          border-radius: 10px;
          top: calc(50% - 20px);    
        } 
      }
      
    @media (min-width: 1200px){
        #previous, #next { 
            width: 60px; 
            height: 60px; 
            border-radius: 18px;
            top: calc(50% - 30px);
            left: -30px;
        }
        
        #next { 
            left: unset; 
            right: -30px;     
        }
    }

    /* --------------------------------------------------------------------------
        4. price
    -------------------------------------------------------------------------- */

    .sz3ai__price {
        padding-top: 150px;
        padding-bottom: 10px;;
        text-align: center;
        margin: auto;
    }

    .sz3ai__price .container h1 {
        color: white;
    }

    .sz3ai__price__description {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .price__cards {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    .price1, .price2 {
        border-radius: 30px;
        background-color: #141414;
        width: 452px;
        height: 527px;
    }

    .price1:hover, .price2:hover {
        transform: scale(0.98);
        cursor: pointer;
    }

    @media (max-width: 890px) {
        .price__cards {
            display: block;
            text-align: center;
        }
    }

/*