/* SZ3YAN by Sze Yan

   Structure of 3.szeyan_sz3ai.css
   |
   ├─ 1. sz3ai
   ├─ 2. features
   ├─ 3. slide
   ├─ 4. price

    /* --------------------------------------------------------------------------
        1. sz3ai (heading)
    -------------------------------------------------------------------------- */

    .sz3ai__header {
        padding-bottom: 170px;
    }
    
    .sz3ai__intro {
        padding-top: 5em;
        text-align: center;
        color: white;
    }

    .sz3ai__intro h2:nth-child(3) {
        margin-bottom: 30px;
        color: white;
    }

    .sz3ai__intro h6 {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 200;
        text-transform: uppercase;
        color: var(--blue);
    }

    .sz3ai__intro h2 {
        font-size: 45px;
        font-weight: 100;
        color: var(--grey);
    }

    .sz3ai__buy {
        display: inline-flex;
        align-items: center;
        padding: 0 18px;
        height: 30px;
        font-size: 13px;
        text-transform: uppercase;
        border-radius: 15px;
        background-color: var(--bblack);
        color: white;
        cursor: pointer;
    }

    .sz3ai__buy:hover {
        opacity: 0.5;
    }

    .arrow {
        width: 0.8em;
        animation: move__arrow 3s infinite;
    }

    @keyframes move__arrow {
        0%, 20%, 50%, 80%, 100% {
            transform: translate3d(0px, 0, 0);
        }

        40% {
            transform: translate3d(7px, 0, 0);
        }

        60% {
            transform: translate3d(3px, 0, 0);
        }
    }

    .sz3ai__iphones {
        overflow: hidden;
    }

    .iphones__wrapper {
        display: flex;
        justify-content: center;
    }

    .sz3ai__col {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 312px;
        margin: 0 32px;
    }

    .phone {
        margin: 32px 0;
    }

    .sz3ai__iphones .sz3ai__col:nth-of-type(3n+1) .landscape {
        left: 100%; 
        transform: translate(-100%);
    }

    @media (max-width: 890px) {
        .sz3ai__col {
            margin: 0 8px;
        }

        .portrait video {
            width: 216px;
            height: 390px;
        }

        .portrait img {
            width: 200px;
            height: 380px;
        }

        #aa {
            margin-left: 230px;
        }

        #bb {
            margin-left: 110px;
        }

        .landscape img {
            width: 390px;
            height: 216px;
        }
    }

    /* --------------------------------------------------------------------------
        2. features
    -------------------------------------------------------------------------- */
    
    .sz3ai__features {
        max-width: 656px;
        margin: auto;
        padding-top: 260px;
    }

    .sz3ai__feature1, .sz3ai__feature2 {
        padding-bottom: 340px;
    }

    .sz3ai__ui1, .sz3ai__ui2 {
        display: flex;
        justify-content: space-evenly;
    }

    .sz3ai__ui1 video {
        margin-right: 16px;
    }

    .sz3ai__ui1 img {
        padding-top: 100px;
        margin-left: 16px;
    }

    .copy {
        text-align: left;
        margin-top: -50px;
        margin-right: 310px;
    }

    .copy h2 {
        color: white;
    }

    @media (max-width: 890px) {
        .sz3ai__ui1 img, .sz3ai__ui1 video {
            width: 190px;
            height: auto;
        }

        .sz3ai__ui1 img {
            padding-top: 0;
        }

        .copy {
            margin-top: 32px;
            margin-right: 0;
            text-align: center;
        }

        .copy p {
            width: 300px;
            margin: auto;
        }
    }
    
    /* --------------------------------------------------------------------------
        3. slide
    -------------------------------------------------------------------------- */

    .sz3ai__slide {
        position: relative;
        width: 100%;
        height: calc(-56px + 100vh);
        overflow: hidden;
    }

    .slides img {
        width: 100%;
    }

    .slides {
        display: none;
        vertical-align: middle;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    /* --------------------------------------------------------------------------
        4. price
    -------------------------------------------------------------------------- */

    .sz3ai__price {
        display: flex;
        justify-content: center;
        height: 90vh;
        margin: auto;
        text-align: center;
    }

    .logo {
        margin-bottom: 20px;
        border-radius: 20px; 
    }

    .sz3ai__buy {
        margin-top: 20px;
    }

    .sz3ai__price .container h2 {
        color: white;
    }

    @media (max-width: 890px) {
        .sz3ai__price {
            padding-top: 0;
            padding-bottom: 170px;
            height: 70vh;
        }
    }
/*