/* SZ3YAN by Sze Yan

   Structure of 4.szeyan_project.css
   |
   ├─ 1. project intro
   ├─ 2. project details
     
    /* --------------------------------------------------------------------------
        1. project intro
    -------------------------------------------------------------------------- */

    .project__header {
        width: 100%;
        padding-bottom: 70px;
    }
    
    .project__intro {
        text-align: center;
        color: black;
        letter-spacing: -.005em;
        padding-top: 5em;
        max-width: 800px;
        margin: auto;
    }

    .project__intro h2 {
        font-size: 45px;
        font-weight: 100;
    }

    .project__intro h6 {
        margin-bottom: 10px;
        font-size: 16px;
        color: var(--dark-grey);
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: .05em;
    }
    
    .project__description {
        margin: auto;
        color: var(--grey);
        padding-top: 10px;
        max-width: 500px;
    }

    .chooseMe__moving {
        padding-bottom: 15px;
        overflow-x: hidden;
    }

    #top3-1, #top3-2, #top3-3 {
        background-color: #AFEEEE;
    }

    #top3-1 a div h4, #top3-2 a div h4, #top3-3 a div h4 {
        color: black;
    }
    
    .chooseMe__left, .chooseMe__right {
        display: flex;
        position: relative;
    }

    .chooseMe__left {
        animation: moveleft 300s linear infinite;
    }

    .chooseMe__right {
        animation: moveright 300s linear infinite;
    }

    .chooseMe__right .chooseMe__projectSet1, .chooseMe__right .chooseMe__projectSet2 {
        position: relative;
        left: 500px;
    }

    @keyframes moveleft {
        0% {
            right: 0px
        }

        100% {
            right: 2000px;
        }
    }

    @keyframes moveright {
        100% {
            right: 0px
        }

        0% {
            right: 2000px;
        }
    }

    .chooseMe__projectSet1, .chooseMe__projectSet2 {
        display: grid;
        row-gap: 45px;
        column-gap: 40px;
        grid-template-columns: repeat(5, 300px);
        padding-top: 20px;
    }

    .chooseMe__projectSet2 {
        padding-left: 40px;
    }
    
    .chooseMe__card {
        border-radius: 10px;
        background-color: white;
        padding: 20px;
        width: 300px;
        height: 112px;
    }

    .chooseMe__card:active, .chooseMe__card:hover {
        transform: scale(0.98);
        cursor: pointer;
    }
    
    .chooseMe__card h4 {
        color: #fff;
    }
    
    .chooseMe__card p {
        color: var(--grey);
    }

    .chooseMe__content {
        display: flex;
        width: 100%;
    }

    .chooseMe__content img {
        margin-right: 10px
    }

    .chooseMe__projects__description h4 {
        font-size: 16px;
        color: black;
    }

    .chooseMe__projects__description p {
        font-size: 16px;
    }

    .d {
        display: none;
    }
    
    /* --------------------------------------------------------------------------
        2. project details
    -------------------------------------------------------------------------- */

    .project__details {
        width: 817px;
        height: 650px;
        background-color: white;
        margin: auto;
        border-radius: 18px;
        position: fixed;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

    .appear {
        display: block;
    }

    .show {
        display: none
    }

    .project__top {
        background-color: white;
        height: 200px;
        width: 100%;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }

    .project__top .container {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .project__bottom .container h2 {
        padding-top: 50px;
    }

    .project__bottom .container p {
        color: var(--dark-grey);
    }

    .project__top .container button {
        height: 33px;
        width: 33px;
        background-color: var(--bblack);
        border-radius: 50%;
        position: absolute;
        top: 24px;
        left: 24px;
        cursor: pointer;
    }

    .project__top .container button svg {
        height: 50%;
        transform: rotate(45deg)
    }

/*