:root {
  --black: #101010;
  --bblack: #000000;
  --blue: #5196CD;
  --grey: #989898;
  --dark-grey: #4c4c4c;
  --page-bg: #F5F5F7;
  --box-corner-radius: 10px;
}

@font-face {
  font-family: Circular Pro;
  src: url("../1. SZ3YAN_design/circular-pro-book.ttf")
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -.031em;
  padding-top: 1.75rem;
  background-color: var(--page-bg);
  font-family: Circular Pro, -apple-system, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--blue);
}

p {
  font-size: 20px;
}

.nav__mobile {
  display: none;
}

@media (min-width: 891px) {
  .container {
    max-width: 1080px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav__header {
    background-color: var(--page-bg);
    padding-bottom: 30px;
  }

  .nav__header .container {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav__navigation {
    text-align: right;
    position: relative;
    flex: 1;
  }

  .nav__navigation a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin-left: 3rem;
  }

  .nav__navigation .nav {
    list-style: none
  }

  .nav__navigation .nav li {
    display: inline-block;
    position: relative;
  }

  .nav__navigation > .nav__trigger {
    display: none; 
  }

  .nav__wrapper .nav > li.nav__current a {
    border-color: var(--blue);
    color: var(--blue);
  }

  .nav__navigation > .nav__wrapper > .nav__trigger {
    display: none;
  }
}

@media (max-width: 890px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .nav__header {
    width: 100%;
    background: transparent;
    z-index: 1;
    padding-top: 5px;
  }

  .nav__header .container {
    max-width: 100%;
    display: flex;
    align-items: center;
  }

  .nav__logo {
    width: 95%;
  }

  .nav__navigation .nav {
    list-style: none
  }

  .nav__trigger { 
    padding: 0.5rem; 
    cursor: pointer; 
    position: relative;
  }

  .nav__wrapper .nav {
    position: absolute;
    display: none;
    right: 0;
    top: 30px;
    border-radius: var(--box-corner-radius);
    z-index: 1;
  }

  .nav__wrapper button {
    background-color: transparent;
  }

  .nav__mobile {
    background-color: pink;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .nav__mobile .container .nav {
    padding-top: 100px;
  }
}

.copyright {
  text-align: center;
  color: var(--grey);
  font-size: 12px;
  padding-bottom: 16px;
}