html { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

:root {
  /* Colours */
  --color-default: #333;
  --color-black: #111;
  --color-blue: #5196CD;
  --color-blue-hover: #227cb5;
  --color-yellow: #EEF13B;
  --color-light-bg: #F8FAFC;
  --color-light-grey: #ffffff;
  --color-grey: #666;
  --page-bg: #F5F5F5;
  --box-shadow: rgba(0,0,0,0.2);

  /* Layout */
  --box-corner-radius: 10px;
}

* {box-sizing: border-box;border:0;margin:0;padding:0;}

@font-face {
  font-family: Circular Pro;
  font-weight: 400;
  font-style: normal;
  src: url("../1. SZ3YAN_design/circular-pro-book.woff2") format("woff2")
}

body {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--color-default);
  padding: 1rem 1rem 0;
  background-color: var(--page-bg);
  font-family: Circular Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/* Page structure */
.container {
  max-width: 1360px;
  margin: auto;
}

/* Header */
.nav__header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav__header .hi {
  display: flex;
  align-items: center;
  height: 55px;
  border-bottom: 1px solid rgb(230,230,230);
  padding-left: 40px;
  padding-right: 40px;
}

.nav__navigation .nav {
  list-style: none
}

.nav__navigation {
  text-align: right;
  position: relative;
}

.nav__navigation a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

@media (min-width: 891px) {
  /* Larger screen nav */
  .nav__header {
    background-color: var(--page-bg);
    margin: -1rem;
  }

  .nav__navigation {
    flex: 1;
  }

  .nav__navigation a {
    margin-left: 3rem;
  }

  .nav__navigation .nav li {
    display: inline-block;
    position: relative;
  }

  .nav__navigation > .nav__trigger { display: none; }

  .nav__wrapper .nav > li.nav__current a {
    border-color: var(--color-blue);
    color: var(--color-blue);
  }

  /* Hide man mobile nav */
  .nav__navigation > .nav__wrapper > .nav__trigger {
    display: none;
  }

  .subnav .nav__trigger { 
    padding: 0.5rem; 
    margin-right: -0.5rem; 
    cursor: pointer; 
    font-size: 12px 
  }

  .subnav.nav__wrapper { 
    display: inline-block; 
  }

  .subnav.nav__wrapper .nav {
    position: absolute;
    display: none;
    left: 0.5rem;
    border-radius: var(--box-corner-radius);
    z-index: 1;
  }

  .subnav.nav__wrapper:hover > .nav {
    display: block;
  }

  .subnav.nav__wrapper .nav li {
    display: list-item;
  }

  .subnav.nav__wrapper .nav li a {
    padding: 0.4rem 1rem;
    margin-left: 0;
    display: block;
    background-color: var(--page-bg);
    min-width: 200px;
    text-align: left;
  }

  /* navigation under projects - rounded borders */
  .subnav.nav__wrapper .nav li:first-of-type a {
    border-radius: var(--box-corner-radius) var(--box-corner-radius) 0 0;
  }

  .subnav.nav__wrapper .nav li:last-of-type a {
    border-radius: 0 0 var(--box-corner-radius) var(--box-corner-radius);
  }

  .subnav.nav__wrapper .nav li a:hover {
    background-color: var(--color-blue);
    color: white;
  }
}

@media (max-width: 890px) {
  /* Mobile nav */
  .nav__header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background: var(--page-bg);
    z-index: 1;
  }

  .nav__header .container {
    padding: 0;
    max-width: 100%;
  }

  body {
    padding-top: 3.75rem
  }

  .nav__logo, .nav__navigation { 
    width: 50%; 
  }

  .nav__trigger { 
    padding: 0.5rem; 
    cursor: pointer; 
  }

  .nav__wrapper { 
    display: inline-block; 
  }

  .nav__wrapper .nav {
    position: absolute;
    display: none;
    right: 0;
    top: 30px;
    border-radius: var(--box-corner-radius);
    z-index: 1;
    box-shadow: 0px 2px 4px var(--box-shadow);
  }

  .nav__wrapper:hover > .nav {
    display: block;
  }

  .nav__wrapper .nav li a {
    padding: 0.4rem 1rem;
    display: block;
    border: 0;
    background-color: var(--page-bg);
    min-width: 140px;
  }

  .nav__wrapper .nav li:first-of-type a {
    border-radius: var(--box-corner-radius) var(--box-corner-radius) 0 0;
  }

  .nav__wrapper .nav li:last-of-type a {
    border-radius: 0 0 var(--box-corner-radius) var(--box-corner-radius);
  }

  .nav__wrapper .nav li a:hover {
    background-color: var(--color-light-bg)
  }

  .subnav { 
    display: none 
  }
}