/* SZ3YAN by Sze Yan (updated as of 22 July 2021)

   Structure of 1.szeyan_sz3ai.css
   |
   ├─ 1. sz3ai
   ├─ 2. features
   ├─ 3. slide
   ├─ 4. price

    /* --------------------------------------------------------------------------
        1. buy (heading)
    -------------------------------------------------------------------------- */

    .sz3ai__buy {
        height: 90vh;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .buy {
        display: flex;
    }

    .credit {
        margin-top: 30px;
    }

    .credit, .sz3pay {
        width: 400px;
        height: 62px;
        border: solid 1px var(--dark-grey);
        border-radius: 12px;
        margin-bottom: 15px;
        color: white;
        font-size: 17px;
        text-align: left;
        padding-left: 20px;
    }

    .credit:hover , .sz3pay:hover {
        border: solid 1px var(--blue);
    }

    .sz3pay {
        margin-bottom: 30px;
    }

    .pay {
        width: 400px;
        height: 42px;
        border: solid 1px var(--dark-grey);
        border-radius: 12px;
        background-color: var(--blue);
        color: white;
        font-size: 17px;
    }

    .sz3ai__payment button:hover {
        cursor: pointer;
    }

    .sz3ai__ui a {
        display: flex;
    }

    .sz3ai__ui a:hover {
        cursor: default;
    }

    .vid2 {
        margin-top: 50px;
    }

    @media (max-width: 890px) {
        .buy {
            display: block;
        }

        .sz3ai__ui {
            display: none;
        }
    }

    /* --------------------------------------------------------------------------
        2. features
    -------------------------------------------------------------------------- */
    
    

/*