/* SZ3YAN by Sze Yan

   Structure of sz3ai_buy.css
   |
   ├─ 1. sz3ai
   ├─ 2. features
   ├─ 3. slide
   ├─ 4. price

    /* --------------------------------------------------------------------------
        1. buy (heading)
    -------------------------------------------------------------------------- */

    .reg {
        display: flex;
        height: 90vh;
    }

    .reg .container {
        display: flex;
    }

    .your__details ,.more__info {
        width: 400px;
        height: 72px;
        padding-left: 20px;
        margin-bottom: 15px;
        text-align: left;
        border: solid 1px var(--dark-grey);
        border-radius: 12px;
        font-size: 17px;
    }

    .your__details:hover ,.more__info:hover {
        border: solid 1px var(--blue);
        cursor: pointer;
    }

    .details__hide, .info__hide {
        display: none;
    }

    .show {
        display: block;
    }

    .name__input, .email__input, iframe {
        width: 400px;
    }

    iframe {
        height: 250px;
        margin-bottom: 20px;
    }

    .expire, .location {
        margin-right: 10px;
        width: 195px;
    }

    .second {
        display: flex;
        margin-bottom: 30px;
    }

    .name__input, .email__input, .expire, .location {
        margin-bottom: 15px;
        padding-left: 20px;
        text-align: left;
        height: 52px;
        border-radius: 12px;
        border: solid 1px var(--grey);
        font-size: 17px;
        background-color: transparent;
    }

    .reg__intro h3, .reg__intro h4 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 300;
    }

    .book {
        width: 400px;
        height: 42px;
        border: solid 1px var(--dark-grey);
        border-radius: 12px;
        font-size: 17px;
        color: white;
        background-color: var(--blue);
        cursor: pointer;
    }

    .done {
        display: none;
        text-align: center;
    }

    .badminton a {
        display: flex;
    }

    .badminton__img {
        width: 250px;
        height: 480px;
        border-radius: 18px;
        object-fit: cover;
    }

    .badminton__img:nth-child(2) {
        margin-top: 50px;
        margin-left: 10px;
    }

    .done h1 {
        margin-bottom: 20px;
    }

    @media (max-width: 890px) {
        .reg .container {
            display: block;
            margin-top: 90px;
        }

        .your__details ,.more__info, .name__input, .email__input, .book, iframe {
            width: 334px;
        }
    
        .expire, .location {
            width: 160px;
        }

        .done {
            margin-top: 180px;
        }

        .badminton {
            display: none;
        }
    }

    @media (max-width: 375px) {
        .your__details ,.more__info, .name__input, .email__input, .book, iframe {
            width: 300px;
        }
    }
/*